<div class="form-group">
  <select class="form-control" id="sel1">
    <option value=1 selected="selected" >All</option>
    <option value=2>Today</option>
    <option value=3>This Week</option>
    <option value=4>This Month</option>
    <option value=5>This Year</option>
  </select>
</div>