<%= provide(:title, "Play") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <iframe width="720" height="560" src="https://www.youtube.com/embed/<%= @music.link%>?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>